{
  "printWidth": 80,
  "plugins": [
    "prettier-plugin-angular"
  ],
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 100
      }
    }
  ]
}
