:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
  padding: 20px;

  border: 1px solid var(--light-color);
  background: var(--dark-color);
}

.post-body {
  display: grid;
  grid-gap: 12px;
}

.post__author {
  color: var(--light-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.post-created-at {
  color: var(--light-transparen-color);
}

.comment-amount {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comments-length {
  color: var(--primary-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.post__comments-wrapper {
  display: grid;
  grid-gap: 8px;
  max-height: 150px;
  padding: 8px 8px 0 0;

  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}
