@if (profile) {
  <div class="profile-card">
    <div class="avatar-name">
      <img
        class="profile-card__avatar"
        [src]="profile.avatarUrl | imgUrl"
        [alt]="profile.lastName">

      <div class="profile-card__name">
        <strong class="h6">{{ profile.firstName }} {{ profile.lastName }}</strong>
        <span class="subtitle">{{profile.username}}sean.connery</span>
      </div>
    </div>

    <div class="profile-card__description">{{ profile.description }}</div>

    <div class="profile-card__tags">
      @for (skill of profile.stack; track skill) {
        <div class="skill-tag">{{ skill }}</div>
      }
    </div>

    <div class="profile-card__action-btns">
      <div class="btn">Подписаться</div>
    </div>

  </div>
}
