<div class="profile-card">
  <div class="avatar-name">
    <img class="profile-card__avatar" src="/assets/images/avatar.png" alt="avatar">

    <div class="profile-card__name">
      <strong class="h6">Шон Коннери</strong>
      <span class="subtitle">sean.connery</span>
    </div>
  </div>

  <div class="profile-card__description">
    Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать
    о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">RxJS</div>
  </div>

  <div class="profile-card__action-btns">
    <div class="btn">Подписаться</div>
  </div>

</div>
