:host {
  position: relative;

  display: block;
  padding: 20px 12px;

  background: var(--dark-color);
}

.main-menu-list {
  display: grid;
  grid-gap: 8px;
  list-style: none;
}

.menu-item {
  display: grid;
  grid-template-columns: 16px 1fr max-content;
  grid-gap: 12px;
  align-items: center;
  width: 100%;
  padding: 16px 12px;

  text-align: left;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-color);
  text-decoration: none;

  border: none;
  border-radius: 2px;
  background: none;
  cursor: pointer;

  &.active,
  &:hover,
  &:focus-visible {
    background: var(--dark-hover-color);
    color: var(--primary-color);

    svg {
      color: var(--primary-color);
    }
  }
}

.menu-item svg {
  width: 16px;
  height: 16px;
}

.to-subscriber {
  display: flex;
  gap: 10px;
  align-items: center;

  color: var(--primary-color);

}

.to-subscribers-link {
  color: var(--primary-color);
  text-decoration: none;
}

.to-subscribers-icon {
  width: 11px;
  height: 16px;
}

.sidebar-footer {
  position: absolute;
  bottom: 20px;

  display: grid;
  grid-template-columns: 32px 1fr 16px;
  grid-gap: 12px;
  align-items: center;
  width: calc(100% - 20px);
  padding: 4px 16px;

  background: var(--dark-hover-color);
  border-radius: 2px;

  .footer-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .username-text {
    font-weight: 700;
    color: var(--primary-color);
  }
}

.settings-btn {
  svg {
    width: 13px;
    height: 13px;

    color: var(--primary-color);
  }
}
