<img
  src="/assets/svg/logo-small.svg"
  alt="logo"
  class="ml16 mb20">

<nav>
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <button class="menu-item">
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </button>
    </li>
  </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>

@for (profile of subscribers$ | async; track profile.id) {
  <app-subscriber-card
    [profile] = profile
  ></app-subscriber-card>
}

<div class="mt20 to-subscriber">
  <a
    [routerLink]="['/subscribers']"
    class="to-subscribers-link medium-text"
  >Все подписчики</a>
  <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>
