<img
  src="/assets/svg/logo-small.svg"
  alt="logo"
  class="ml16 mb20">

<nav>
  <ul class="main-menu-list">
    <li *ngFor="let menuItem of menuItems">
      <a class="menu-item" [routerLink]="[menuItem.link]">
        <svg [icon]="menuItem.icon"></svg>
        <span>{{ menuItem.label }}</span>
      </a>
    </li>
  </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>

@for (profile of subscribers$ | async; track profile.id) {
  <app-subscriber-card
    [profile]=profile
  ></app-subscriber-card>
}

<div class="mt20 to-subscriber">
  <a
    [routerLink]="['/subscribers']"
    class="to-subscribers-link medium-text"
  >Все подписчики</a>
  <svg icon="arrow" class="to-subscribers-icon"></svg>
</div>

<footer class="sidebar-footer">
  @if (me(); as me) {
    @if (me.avatarUrl) {
      <img class="footer-img" [src]="me.avatarUrl | imgUrl" alt="user">
    } @else {
      <img class="footer-img" src="/assets/images/avatar-placeholder.svg" alt="user">
    }

    <div class="medium-text username-text">{{ me.username }}</div>

    <a [routerLink]="['/settings']" class="settings-btn">
      <svg icon="settings"></svg>
    </a>

  }
</footer>












