:host {
  display: grid;
  grid-template-columns: 322px 1fr;
  grid-gap: 48px;
  padding: 24px;
}

.profile-form {
  display: grid;
  grid-gap: 20px;
  padding: 32px;

  border: 1px solid var(--light-color);
  background-color: var(--dark-color);
}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.profile-label {

}

.profile-input {

}
