.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.to-settings-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: max-content;
  text-decoration: none;
}

.to-settings-icon {
  width: 16px;
  height: 16px;

  color: var(--dark-color);
}

.profile-page__body {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-gap: 64px;
  padding: 24px;
}

.subscribers-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.subscribers-list {
  display: flex;
  align-items: center;
  gap: 6px;

  overflow: hidden;
  list-style: none;
}

.subscriber-links {
  display: flex;
}

.subscriber-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.to-subscriber-search {
  position: relative;
  width: 14px;
  height: 14px;

  border-radius: 50%;
  background-color: var(--light-color);

  &:before,
  &:after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    width: 1px;
    height: 8px;

    background-color: var(--dark-color);
  }

  &:before {
    transform: translate(-50%, -50%);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.skills-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}
